# python stuff
dist
*.egg-info
__pycache__
build

# binaries
model
snapshot

# emacs junk
*~

# results
**/*result.txt
**/predictions*.txt

# keep various incarnations of data out for now
vpcnn/data/
#vpcnn/data/*shuffled*
vpcnn/data_phone
# vpcnn/wilkins*

# ancillary data
w2v
